.landingPage {
  .container {
    background-color: rgba(17, 25, 40, 0.7);
    display: flex;
    flex-wrap: wrap;

    .left-section,
    .right-section {
      flex: 1;
    }

    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;

      button {
        width: 165px;
        height: 62px;
        cursor: pointer;
        color: #fff;
        font-size: 17px;
        border-radius: 1rem;
        border: none;
        position: relative;
        background: #100720;
        transition: 0.1s;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-image: radial-gradient(
            circle farthest-corner at 10% 20%,
            rgba(255, 94, 247, 1) 17.8%,
            rgba(2, 245, 255, 1) 100.2%
          );
          filter: blur(15px);
          z-index: -1;
          position: absolute;
          left: 0;
          top: 0;
        }

        &:active {
          transform: scale(0.9) rotate(3deg);
          background: radial-gradient(
            circle farthest-corner at 10% 20%,
            rgba(255, 94, 247, 1) 17.8%,
            rgba(2, 245, 255, 1) 100.2%
          );
          transition: 0.5s;
        }
      }

      a {
        position: relative;
        height: 50px;
        margin-bottom: 10vh;
        line-height: 48px;
        background: #000;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 10vw;
        text-align: center;
        letter-spacing: 0.1em;
        text-decoration: none;
        transition: 0.5s;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);

        span {
          position: absolute;
          display: block;
          top: 4px;
          left: 1px;
          right: 1px;
          bottom: 1px;
          text-align: center;
          background: #0c0c0c;
          color: rgba(255, 255, 255, 0.2);
          transition: 0.5s;
        }

        &:hover span {
          color: rgba(255, 255, 255, 1);
        }

        span::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: rgba(255, 255, 255, 0.1);
          z-index: 10;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            45deg,
            #c0392b,
            #f39c12,
            #f1c40f,
            #2ecc71,
            #3498db,
            #2980b9,
            #9b59b6,
            #8e44ad,
            #c0392b,
            #f39c12,
            #f1c40f,
            #2ecc71,
            #3498db,
            #2980b9,
            #9b59b6,
            #8e44ad
          );
          background-size: 400%;
          opacity: 0;
          transition: 2.5s;
          animation: eff 20s linear infinite;
        }

        &:hover::before,
        &:hover::after {
          opacity: 1;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            45deg,
            #c0392b,
            #f39c12,
            #f1c40f,
            #2ecc71,
            #3498db,
            #2980b9,
            #9b59b6,
            #8e44ad,
            #c0392b,
            #f39c12,
            #f1c40f,
            #2ecc71,
            #3498db,
            #2980b9,
            #9b59b6,
            #8e44ad
          );
          background-size: 400%;
          opacity: 0;
          filter: blur(20px);
          transition: 0.5s;
          animation: eff 20s ease infinite;
        }

        @keyframes eff {
          0% {
            background-position: 0 0;
          }
          50% {
            background-position: 400% 0;
          }
          100% {
            background-position: 0 0;
          }
        }
      }
    }

    h1 {
      margin-bottom: 20px;
      font-size: 3em;
      font-weight: 900;
      background: linear-gradient(
        -45deg,
        #ee7752,
        #e73c7e,
        #23a6d5,
        #23d5ab,
        #00ffd5
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .right-section {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        display: flex;
        background-color: rgba(17, 25, 40, 0.7);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }

      .ui-abstergo {
        /* Add necessary styles */
      }

      @media (max-width: 480px) {
        .logo {
          order: -1;
          margin-bottom: 0;
        }
      }
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (max-width: 768px) {
    .container {
      display: block;
    }
    .left-section {
      padding: 20px;

      h1 {
        font-size: 2em;
      }

      a {
        width: 100px;
        height: 50px;
        margin-bottom: 10vh;
        line-height: 48px;
        padding: 10px;
        font-size: 16px;
      }
    }

    .right-section img {
      width: 70vw;
    }
  }

  @media (max-width: 480px) {
    .container {
      display: block;
    }

    .left-section {
      padding: 10px;

      h1 {
        font-size: 1.5em;
      }

      button {
        width: 120px;
        height: 50px;
        font-size: 14px;
      }

      a {
        width: 100px;
        height: 50px;
        margin-bottom: 10vh;
        line-height: 48px;
        padding: 10px;
        font-size: 16px;
      }
    }

    .right-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10vh;

      img {
        max-width: 100%;
        width: 50vw;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}
