.sendEmail {
  width: max-content;
  height: max-content;
  padding: 30px;
  background-color: rgba(1, 0, 70, 0.9);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.close img {
  width: 20px;
  height: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  background-color: #5f11f2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4f1f43;
}
