.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 25, 40, 0.6);
  border-radius: 10px;
  overflow: hidden;
  scrollbar-width: none;

  .top {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      .button {
        display: block;
        position: relative;
        width: 56px;
        height: 56px;
        margin: 0;
        overflow: hidden;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        border: 0;
      }

      .button:before,
      .button:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        inset: 7px;
      }

      .button:before {
        border: 4px solid #f0eeef;
        transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
          transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
      }

      .button:after {
        border: 4px solid #96daf0;
        transform: scale(1.3);
        transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
          transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        opacity: 0;
      }

      .button:hover:before,
      .button:focus:before {
        opacity: 0;
        transform: scale(0.7);
        transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
          transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      .button:hover:after,
      .button:focus:after {
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
          transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
      }

      .button-box {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
      }

      .button-elem {
        display: block;
        width: 20px;
        height: 20px;
        margin: 17px 18px 0 18px;
        transform: rotate(180deg);
        fill: #f0eeef;
      }

      .button:hover .button-box,
      .button:focus .button-box {
        transition: 0.4s;
        transform: translateX(-56px);
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .span {
          font-size: 14px;
          font-weight: bold;
        }

        p {
          font-size: 12px;
          font-weight: 300;
          color: #a5a5a5;
        }
        small {
          font-size: 12px;
          &.onlineCuy {
            color: #39ff14;
          }
          &.offline {
            color: gray;
          }
        }
      }
    }
    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  .center {
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .message {
      max-width: 70%;
      display: flex;
      align-self: flex-start;
      gap: 20px;

      &.own {
        max-width: 70%;
        align-self: flex-end;
        margin-left: auto;
        .texts {
          p {
            background-color: #5183fe;
          }
        }
      }

      img {
        max-width: 40vw;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 50vw;

        img,
        video {
          width: 100%;
          max-width: 50vw;
          border-radius: 10px 10px 0px 0px;
          object-fit: cover;
        }
        audio {
          max-width: 50vw;
        }

        a {
          color: white;
          padding: 5px;
          background-color: rgba(17, 250, 40, 0.3);
          border-radius: 5px;
          text-decoration: none;
        }

        p {
          padding: 15px;
          background-color: rgba(17, 25, 40, 0.3);
          border-radius: 10px;
          word-wrap: break-word;
          max-width: 100%;
          white-space: pre-wrap;
        }
        span {
          font-size: 13px;
        }
      }
    }
  }

  .bottom {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 10px;
    margin-top: auto;

    .icons {
      display: flex;
      gap: 15px;
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .message-textarea {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      border: none;
      outline: none;
      color: white;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
      resize: none;
      overflow-y: hidden;
      min-height: 40px;
      max-height: 200px;
      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: 50px;
        left: -300px;
      }
    }

    .sendButton {
      background-color: #5183fe;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:disabled {
        background-color: #5182fe53;
        cursor: not-allowed;
      }
    }

    .tombol {
      font-family: inherit;
      font-size: 18px;
      background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
      color: white;
      padding: 0.8em 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 25px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s;
      &:disabled {
        cursor: not-allowed;
      }
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        padding: 0em;
        background: linear-gradient(to bottom, #5bd9ec 0%, #97c3ff 100%);
        cursor: pointer;
      }
      &:active {
        transform: scale(0.95);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
      span {
        display: block;
        margin-left: 0.4em;
        transition: all 0.3s;
      }
      &:hover span {
        scale: 0;
        font-size: 0%;
        opacity: 0;
        transition: all 0.5s;
      }
      svg {
        width: 18px;
        height: 18px;
        fill: white;
        transition: all 0.3s;
      }
      .svg-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.3s;
      }
      &:hover .svg-wrapper {
        background-color: rgba(43, 169, 228, 0.897);
        width: 54px;
        height: 54px;
      }

      &:hover svg {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        transform: rotate(45deg);
      }
    }
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .chat {
    flex: 1;
    border: none;
    border-radius: 0;

    .top {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #dddddd35;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .texts {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .span {
            font-size: 12px;
            font-weight: bold;
          }

          p {
            font-size: 10px;
            font-weight: 300;
            color: #a5a5a5;
            word-wrap: break-word;
            max-width: 100%;
            white-space: pre-wrap;
          }
          small {
            font-size: 10px;
            &.onlineCuy {
              color: #39ff14;
            }
            &.offline {
              color: gray;
            }
          }
        }
      }
      .icons {
        display: flex;
        gap: 10px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .center {
      padding: 5px;
      gap: 5px;

      .message .texts img,
      .message .texts video {
        max-height: 200px;
      }
    }

    .bottom {
      padding: 5px;
      gap: 5px;

      .icons {
        gap: 10px;
      }

      img {
        width: 16px;
        height: 16px;
      }

      audio {
        width: 100px;
        height: 24px;
      }

      .message-textarea {
        padding: 8px;
        font-size: 14px;
      }

      .sendButton {
        padding: 5px 10px;
      }

      .tombol {
        font-size: 16px;
        padding: 0.6em 1em;
      }

      .tombol .svg-wrapper {
        width: 24px;
        height: 24px;
      }

      .tombol:hover .svg-wrapper {
        width: 40px;
        height: 40px;
      }

      .tombol:hover svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
