.auth {
  width: max-content;
  height: max-content;
  padding: 30px;
  background-color: rgba(17, 25, 40, 0.781);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: rgba(17, 25, 40, 0.6);
        color: white;
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursoer: pointer;
        text-decoration: underline;

        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          object-fit: cover;
          opacity: 0.6;
        }
      }

      button {
        width: 100%;
        padding: 15px;
        border: none;
        background-color: #1f8ef1;
        color: white;
        border-radius: 5px;
        cursoer: pointer;
        font-weight: 500;

        &:disabled {
          cursor: not-allowed;
          background-color: #1f8ff19c;
        }
      }
    }
  }

  .separator {
    height: 80%;
    width: 2px;
    background-color: #dddddd35;
  }
  .footer {
    padding: 20px;
    cursor: pointer;
  }
}
@media (max-width: 780px) {
  .auth {
    width: 300px;
    height: max-content;
    padding: 30px;
  }
}
