.addUser {
  width: max-content;
  height: max-content;
  padding: 30px;
  background-color: rgba(17, 25, 40, 0.781);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  form {
    input {
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-right: 10px;
    }

    button {
      padding: 10px;
      border-radius: 5px;
      background-color: #1a73e8;
      color: white;
      border: none;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
        background-color: #1f8ffc;
      }
    }
  }

  .user {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .detail {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    button {
      padding: 5px;
      border-radius: 5px;
      background-color: #1a73e8;
      color: white;
      border: none;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
        background-color: #1f8ffc;
      }
    }
  }
}
